.handle-btn {
  width: 30%;
  border: none;
  box-shadow: 1px 1px 2px #353535;
  height: 3rem;
  border-radius: 5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7f7f7;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.start {
  background-color: #7641bf;
}

.finish {
  background-color: #8c8303;
}

.handle-btn:active,
.handle-btn:hover {
  transition: all 0.5s;
  box-shadow: 1px 1px 5px #353535;
  transform: translateY(-2px);
}

.graph-area {
  height: 450px;
  width: 100%;
}
